<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      Webhue
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<div class="container">
  <div class="notification is-success is-light">
    <ng-container *ngIf="bridge$ | async as bridge; else loading">
      Verbonden met <strong>{{bridge.config.name}}</strong> {{bridge.config.bridgeid}}
    </ng-container>
    <ng-template #loading>
      <progress class="progress is-small is-primary"></progress>
    </ng-template>
  </div>
</div>



<app-access-request *ngIf="isRequestingAccess"></app-access-request>



<!-- <p (click)="turnLightOn(true)">Lamp aan</p>
<p (click)="turnLightOn(false)">Lamp uit</p> -->
